<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} · {{ site.Title }}{{ end }}</title>
{{ with .Description | default site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
<link rel="icon" href="{{ "favicon.svg" | relURL }}" type="image/svg+xml">
{{ $css := resources.Get "css/titan.min.css" | fingerprint }}
<link rel="stylesheet" href="{{ $css.RelPermalink }}">
{{ with resources.Get "css/syntax.css" }}
<link rel="stylesheet" href="{{ (. | fingerprint).RelPermalink }}">
{{ end }}
{{ with resources.Get "css/series.css" }}
<link rel="stylesheet" href="{{ (. | fingerprint).RelPermalink }}">
{{ end }}
